* text=auto !eol
http-session-scope/src/site/apt/index.apt -text
jaxws-maven-plugin/src/site/apt/index.apt -text
jaxws-maven-plugin/src/site/apt/usage.apt -text
jaxws-maven-plugin/src/site/fml/faq.fml -text
json/jaxws-json/pom.xml -text
json/jaxws-json/src/main/java/org/jvnet/jax_ws_commons/json/ClientGenerator.java -text
json/jaxws-json/src/main/java/org/jvnet/jax_ws_commons/json/JSONBindingID.java -text
json/jaxws-json/src/main/java/org/jvnet/jax_ws_commons/json/JSONBindingIDFactory.java -text
json/jaxws-json/src/main/java/org/jvnet/jax_ws_commons/json/JSONCodec.java -text
json/jaxws-json/src/main/resources/META-INF/services/com.sun.xml.ws.api.BindingIDFactory -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/jaxws.js -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/bg.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/bgcode.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/bgcontainer.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/bgul.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/header.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/li.gif -text
json/jaxws-json/src/main/resources/org/jvnet/jax_ws_commons/json/template/quote.gif -text
json/jaxws-json/src/site/apt/index.apt -text
json/jaxws-json/src/site/apt/spring.apt -text
json/jaxws-json/src/test/java/foo/MyClient.java -text
json/jaxws-json/src/test/java/foo/MyDeployment.java -text
json/jaxws-json/src/test/java/foo/MyService.java -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/activation-1.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/aopalliance-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/avalon-framework-4.1.3.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/commons-collections-3.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/commons-lang-2.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/commons-logging-1.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxb-api-2.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxb-impl-2.1.3.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxws-api-2.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxws-json-1.0-SNAPSHOT.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxws-rt-2.1.2-SNAPSHOT.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jaxws-spring-1.4.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jettison-1.0-beta-1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jsr173_api-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jsr181-api-1.0-MR1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/jsr250-api-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/junit-3.8.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/log4j-1.2.12.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/logkit-1.0.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/oro-2.0.8.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/relaxngDatatype-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/saaj-api-1.3.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/saaj-impl-1.3.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/servlet-api-2.5.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/sjsxp-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/spring-2.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/spring-aop-2.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/spring-beans-2.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/spring-context-2.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/spring-core-2.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/stax-api-1.0.1.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/stax-api-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/stax-ex-1.0.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/streambuffer-0.6.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/velocity-1.5.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/xbean-spring-2.7.jar -text
json/jmaki-demo-app/src/main/webapp/WEB-INF/lib/xsom-20070323.jar -text
spring/spring-core/publish-schemas.sh -text
spring/spring-core/src/main/resources/META-INF/spring.handlers -text
spring/spring-core/src/main/resources/META-INF/spring.schemas -text
spring/spring-core/src/site/apt/handler.apt -text
spring/spring-core/src/site/apt/index.apt -text
spring/spring-core/src/site/apt/local-transport.apt -text
spring/spring-core/src/site/apt/reference.apt -text
spring/test-app/soapui.xml -text
thread-scope/pom.xml -text
thread-scope/src/main/java/org/jvnet/jax_ws_commons/thread_scope/ThreadScope.java -text
thread-scope/src/main/java/org/jvnet/jax_ws_commons/thread_scope/ThreadScopeFeature.java -text
thread-scope/src/main/java/org/jvnet/jax_ws_commons/thread_scope/ThreadScopeInstanceResolver.java -text
transport/smtp/jaxws-smtp/pom.xml -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/POP3Info.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/SMTPFeature.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/SenderInfo.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/client/SmtpTransportTube.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/client/SmtpTransportTubeFactory.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/EmailEndpoint.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/EmailException.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/Listener.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/MailHandler.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/POP3Listener.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/SenderThread.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/mail/UrlQueryParser.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/server/SMTPAdapter.java -text
transport/smtp/jaxws-smtp/src/main/java/org/jvnet/jax_ws_commons/transport/smtp/server/ServerSMTPFeature.java -text
transport/smtp/jaxws-smtp/src/main/resources/META-INF/services/com.sun.xml.ws.api.pipe.TransportTubeFactory -text
transport/smtp/jaxws-smtp/src/main/resources/META-INF/spring.schemas -text
transport/smtp/jaxws-smtp/src/test/java/pop3/Book.java -text
transport/smtp/jaxws-smtp/src/test/java/pop3/SmtpTest.java -text
transport/smtp/pom.xml -text
transport/smtp/test-app/pom.xml -text
transport/smtp/test-app/src/main/java/greeter/GreetingService.java -text
transport/smtp/test-app/src/main/webapp/WEB-INF/applicationContext.xml -text
transport/smtp/test-app/src/main/webapp/WEB-INF/web.xml -text
transport/smtp/test-client/pom.xml -text
transport/smtp/test-client/src/test/java/foo/SmtpTest.java -text
www/alm-process/snippets/page.xml -text
www/http-session-scope/images/collapsed.gif -text
www/http-session-scope/images/expanded.gif -text
www/http-session-scope/images/external.png -text svneol=unset#image/png
www/http-session-scope/images/icon_error_sml.gif -text
www/http-session-scope/images/icon_info_sml.gif -text
www/http-session-scope/images/icon_success_sml.gif -text
www/http-session-scope/images/icon_warning_sml.gif -text
www/http-session-scope/images/logos/maven-feather.png -text svneol=unset#image/png
www/http-session-scope/images/newwindow.png -text svneol=unset#image/png
www/http-session-scope/index.html -text
www/http-session-scope/source-repository.html -text
www/http-session-scope/team-list.html -text
www/index.html svneol=native#text/html
www/jaxws-maven-plugin/apidocs/files -text
www/jaxws-maven-plugin/apidocs/index-all.html -text
www/jaxws-maven-plugin/dependencies.html -text
www/jaxws-maven-plugin/faq.html -text
www/jaxws-maven-plugin/images/collapsed.gif -text
www/jaxws-maven-plugin/images/expanded.gif -text
www/jaxws-maven-plugin/index.html -text
www/jaxws-maven-plugin/integration.html -text
www/jaxws-maven-plugin/issue-tracking.html -text
www/jaxws-maven-plugin/license.html -text
www/jaxws-maven-plugin/mail-lists.html -text
www/jaxws-maven-plugin/plugin-info.html -text
www/jaxws-maven-plugin/project-info.html -text
www/jaxws-maven-plugin/project-reports.html -text
www/jaxws-maven-plugin/project-summary.html -text
www/jaxws-maven-plugin/source-repository.html -text
www/jaxws-maven-plugin/team-list.html -text
www/jaxws-maven-plugin/usage.html -text
www/jaxws-maven-plugin/wsgen-mojo.html -text
www/jaxws-maven-plugin/wsgen-test-mojo.html -text
www/jaxws-maven-plugin/wsimport-mojo.html -text
www/json/dependencies.html -text
www/json/images/collapsed.gif -text
www/json/images/expanded.gif -text
www/json/index.html -text
www/json/source-repository.html -text
www/json/spring.html -text
www/json/team-list.html -text
www/role-approval.policy -text
www/spring/apidocs/com/sun/xml/ws/transport/http/servlet/WSSpringServlet.html -text
www/spring/apidocs/com/sun/xml/ws/transport/http/servlet/package-summary.html -text
www/spring/apidocs/files -text
www/spring/apidocs/index-all.html -text
www/spring/apidocs/options -text
www/spring/apidocs/org/jvnet/jax_ws_commons/spring/SpringAddressingFeature.html -text
www/spring/apidocs/org/jvnet/jax_ws_commons/spring/SpringMTOMFeature.html -text
www/spring/apidocs/org/jvnet/jax_ws_commons/spring/SpringService.html -text
www/spring/apidocs/package-list -text
www/spring/apidocs/resources/inherit.gif -text
www/spring/dependencies.html -text
www/spring/handler.html -text
www/spring/images/collapsed.gif -text
www/spring/images/expanded.gif -text
www/spring/images/external.png -text svneol=unset#image/png
www/spring/images/icon_error_sml.gif -text
www/spring/images/icon_info_sml.gif -text
www/spring/images/icon_success_sml.gif -text
www/spring/images/icon_warning_sml.gif -text
www/spring/images/logos/maven-feather.png -text svneol=unset#image/png
www/spring/images/newwindow.png -text svneol=unset#image/png
www/spring/index.html -text
www/spring/local-transport.html -text
www/spring/references/spring-jax-ws-core.xsd.html -text
www/spring/references/spring-jax-ws-local-transport.xsd.html -text
www/spring/sorcerer-test/eclipse-public-license.url -text
www/spring/sorcerer-test/menu/rightarrow.gif -text
www/spring/sorcerer-test/package-list -text
www/spring/sorcerer-test/resource-files/annotation_default.gif -text
www/spring/sorcerer-test/resource-files/annotation_private.gif -text
www/spring/sorcerer-test/resource-files/annotation_protected.gif -text
www/spring/sorcerer-test/resource-files/annotation_public.gif -text
www/spring/sorcerer-test/resource-files/class_default.gif -text
www/spring/sorcerer-test/resource-files/class_private.gif -text
www/spring/sorcerer-test/resource-files/class_protected.gif -text
www/spring/sorcerer-test/resource-files/class_public.gif -text
www/spring/sorcerer-test/resource-files/close.gif -text
www/spring/sorcerer-test/resource-files/enum_default.gif -text
www/spring/sorcerer-test/resource-files/enum_private.gif -text
www/spring/sorcerer-test/resource-files/enum_protected.gif -text
www/spring/sorcerer-test/resource-files/enum_public.gif -text
www/spring/sorcerer-test/resource-files/field_default.gif -text
www/spring/sorcerer-test/resource-files/field_private.gif -text
www/spring/sorcerer-test/resource-files/field_protected.gif -text
www/spring/sorcerer-test/resource-files/field_public.gif -text
www/spring/sorcerer-test/resource-files/interface_default.gif -text
www/spring/sorcerer-test/resource-files/interface_private.gif -text
www/spring/sorcerer-test/resource-files/interface_protected.gif -text
www/spring/sorcerer-test/resource-files/interface_public.gif -text
www/spring/sorcerer-test/resource-files/layout-flat.gif -text
www/spring/sorcerer-test/resource-files/layout-hierarchical.gif -text
www/spring/sorcerer-test/resource-files/library.gif -text
www/spring/sorcerer-test/resource-files/method_default.gif -text
www/spring/sorcerer-test/resource-files/method_private.gif -text
www/spring/sorcerer-test/resource-files/method_protected.gif -text
www/spring/sorcerer-test/resource-files/method_public.gif -text
www/spring/sorcerer-test/resource-files/opentype.gif -text
www/spring/sorcerer-test/resource-files/outline-filter/alphab_sort_co.gif -text
www/spring/sorcerer-test/resource-files/outline-filter/fields_co.gif -text
www/spring/sorcerer-test/resource-files/outline-filter/localtypes_co.gif -text
www/spring/sorcerer-test/resource-files/outline-filter/public_co.gif -text
www/spring/sorcerer-test/resource-files/outline-filter/static_co.gif -text
www/spring/sorcerer-test/resource-files/package.gif -text
www/spring/sorcerer-test/resource-files/search/file_mode.gif -text
www/spring/sorcerer-test/resource-files/search/package_mode.gif -text
www/spring/sorcerer-test/resource-files/search/prj_mode.gif -text
www/spring/sorcerer-test/resource-files/search/type_mode.gif -text
www/spring/sorcerer-test/resource-files/tree/ln.gif -text
www/spring/sorcerer-test/resource-files/tree/loading.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/lm.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/lmh.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/lp.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/lph.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/tm.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/tmh.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/tp.gif -text
www/spring/sorcerer-test/resource-files/tree/noicon/tph.gif -text
www/spring/sorcerer-test/resource-files/tree/tn.gif -text
www/spring/sorcerer-test/resource-files/tree/vline.gif -text
www/spring/sorcerer/eclipse-public-license.url -text
www/spring/sorcerer/menu/rightarrow.gif -text
www/spring/sorcerer/package-list -text
www/spring/sorcerer/resource-files/annotation_default.gif -text
www/spring/sorcerer/resource-files/annotation_private.gif -text
www/spring/sorcerer/resource-files/annotation_protected.gif -text
www/spring/sorcerer/resource-files/annotation_public.gif -text
www/spring/sorcerer/resource-files/class_default.gif -text
www/spring/sorcerer/resource-files/class_private.gif -text
www/spring/sorcerer/resource-files/class_protected.gif -text
www/spring/sorcerer/resource-files/class_public.gif -text
www/spring/sorcerer/resource-files/close.gif -text
www/spring/sorcerer/resource-files/enum_default.gif -text
www/spring/sorcerer/resource-files/enum_private.gif -text
www/spring/sorcerer/resource-files/enum_protected.gif -text
www/spring/sorcerer/resource-files/enum_public.gif -text
www/spring/sorcerer/resource-files/field_default.gif -text
www/spring/sorcerer/resource-files/field_private.gif -text
www/spring/sorcerer/resource-files/field_protected.gif -text
www/spring/sorcerer/resource-files/field_public.gif -text
www/spring/sorcerer/resource-files/interface_default.gif -text
www/spring/sorcerer/resource-files/interface_private.gif -text
www/spring/sorcerer/resource-files/interface_protected.gif -text
www/spring/sorcerer/resource-files/interface_public.gif -text
www/spring/sorcerer/resource-files/layout-flat.gif -text
www/spring/sorcerer/resource-files/layout-hierarchical.gif -text
www/spring/sorcerer/resource-files/library.gif -text
www/spring/sorcerer/resource-files/method_default.gif -text
www/spring/sorcerer/resource-files/method_private.gif -text
www/spring/sorcerer/resource-files/method_protected.gif -text
www/spring/sorcerer/resource-files/method_public.gif -text
www/spring/sorcerer/resource-files/opentype.gif -text
www/spring/sorcerer/resource-files/outline-filter/alphab_sort_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/fields_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/localtypes_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/public_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/static_co.gif -text
www/spring/sorcerer/resource-files/package.gif -text
www/spring/sorcerer/resource-files/search/file_mode.gif -text
www/spring/sorcerer/resource-files/search/package_mode.gif -text
www/spring/sorcerer/resource-files/search/prj_mode.gif -text
www/spring/sorcerer/resource-files/search/type_mode.gif -text
www/spring/sorcerer/resource-files/tree/ln.gif -text
www/spring/sorcerer/resource-files/tree/loading.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lm.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lmh.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lp.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lph.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tm.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tmh.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tp.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tph.gif -text
www/spring/sorcerer/resource-files/tree/tn.gif -text
www/spring/sorcerer/resource-files/tree/vline.gif -text
www/spring/source-repository.html -text
www/spring/team-list.html -text
www/thread-scope/css/maven-base.css -text
www/thread-scope/css/maven-theme.css -text
www/thread-scope/css/print.css -text
www/thread-scope/dependencies.html -text
www/thread-scope/images/collapsed.gif -text
www/thread-scope/images/expanded.gif -text
www/thread-scope/images/external.png -text
www/thread-scope/images/icon_error_sml.gif -text
www/thread-scope/images/icon_info_sml.gif -text
www/thread-scope/images/icon_success_sml.gif -text
www/thread-scope/images/icon_warning_sml.gif -text
www/thread-scope/images/logos/maven-feather.png -text
www/thread-scope/images/newwindow.png -text
www/thread-scope/index.html -text
www/thread-scope/integration.html -text
www/thread-scope/issue-tracking.html -text
www/thread-scope/license.html -text
www/thread-scope/mail-lists.html -text
www/thread-scope/project-info.html -text
www/thread-scope/project-summary.html -text
www/thread-scope/source-repository.html -text
www/thread-scope/team-list.html -text
