http-session-scope/*.iml
http-session-scope/*.ipr
http-session-scope/*.iws
http-session-scope/target
jaxws-maven-plugin/*.iml
jaxws-maven-plugin/*.ipr
jaxws-maven-plugin/*.iws
jaxws-maven-plugin/src/it/wsimport/file/target
jaxws-maven-plugin/src/it/wsimport/url/target
jaxws-maven-plugin/target
json/*.iml
json/*.ipr
json/*.iws
json/jaxws-json/*.iml
json/jaxws-json/target
json/jmaki-demo-app/*.iml
json/jmaki-demo-app/*.ipr
json/jmaki-demo-app/*.iws
json/jmaki-demo-app/target
json/json-jmaki-demo/nbproject/private
json/target
json/test-app/*.iml
json/test-app/*.ipr
json/test-app/*.iws
json/test-app/target
spring/*.iml
spring/*.ipr
spring/*.iws
spring/memo.txt
spring/ref
spring/spring-core/*.iml
spring/spring-core/target
spring/target
spring/test-app/*.iml
spring/test-app/target
transport/smtp/*.iml
transport/smtp/*.ipr
transport/smtp/*.iws
transport/smtp/jaxws-smtp/*.iml
transport/smtp/jaxws-smtp/target
transport/smtp/target
transport/smtp/test-app/*.iml
transport/smtp/test-app/target
