* text=auto !eol
http-session-scope/src/site/apt/index.apt -text
spring/spring-core/src/main/resources/META-INF/spring.handlers -text
spring/spring-core/src/main/resources/META-INF/spring.schemas -text
spring/spring-core/src/site/apt/handler.apt -text
spring/spring-core/src/site/apt/index.apt -text
spring/spring-core/src/site/apt/reference.apt -text
www/http-session-scope/images/collapsed.gif -text
www/http-session-scope/images/expanded.gif -text
www/http-session-scope/images/external.png -text svneol=unset#image/png
www/http-session-scope/images/icon_error_sml.gif -text
www/http-session-scope/images/icon_info_sml.gif -text
www/http-session-scope/images/icon_success_sml.gif -text
www/http-session-scope/images/icon_warning_sml.gif -text
www/http-session-scope/images/logos/maven-feather.png -text svneol=unset#image/png
www/http-session-scope/images/newwindow.png -text svneol=unset#image/png
www/http-session-scope/index.html -text
www/http-session-scope/source-repository.html -text
www/http-session-scope/team-list.html -text
www/index.html svneol=native#text/html
www/role-approval.policy -text
www/spring/dependencies.html -text
www/spring/handler.html -text
www/spring/images/collapsed.gif -text
www/spring/images/expanded.gif -text
www/spring/images/external.png -text svneol=unset#image/png
www/spring/images/icon_error_sml.gif -text
www/spring/images/icon_info_sml.gif -text
www/spring/images/icon_success_sml.gif -text
www/spring/images/icon_warning_sml.gif -text
www/spring/images/logos/maven-feather.png -text svneol=unset#image/png
www/spring/images/newwindow.png -text svneol=unset#image/png
www/spring/index.html -text
www/spring/references/spring-jax-ws-core.xsd.html -text
www/spring/sorcerer/eclipse-public-license.url -text
www/spring/sorcerer/menu/rightarrow.gif -text
www/spring/sorcerer/package-list -text
www/spring/sorcerer/resource-files/annotation_default.gif -text
www/spring/sorcerer/resource-files/annotation_private.gif -text
www/spring/sorcerer/resource-files/annotation_protected.gif -text
www/spring/sorcerer/resource-files/annotation_public.gif -text
www/spring/sorcerer/resource-files/class_default.gif -text
www/spring/sorcerer/resource-files/class_private.gif -text
www/spring/sorcerer/resource-files/class_protected.gif -text
www/spring/sorcerer/resource-files/class_public.gif -text
www/spring/sorcerer/resource-files/close.gif -text
www/spring/sorcerer/resource-files/enum_default.gif -text
www/spring/sorcerer/resource-files/enum_private.gif -text
www/spring/sorcerer/resource-files/enum_protected.gif -text
www/spring/sorcerer/resource-files/enum_public.gif -text
www/spring/sorcerer/resource-files/field_default.gif -text
www/spring/sorcerer/resource-files/field_private.gif -text
www/spring/sorcerer/resource-files/field_protected.gif -text
www/spring/sorcerer/resource-files/field_public.gif -text
www/spring/sorcerer/resource-files/interface_default.gif -text
www/spring/sorcerer/resource-files/interface_private.gif -text
www/spring/sorcerer/resource-files/interface_protected.gif -text
www/spring/sorcerer/resource-files/interface_public.gif -text
www/spring/sorcerer/resource-files/layout-flat.gif -text
www/spring/sorcerer/resource-files/layout-hierarchical.gif -text
www/spring/sorcerer/resource-files/library.gif -text
www/spring/sorcerer/resource-files/method_default.gif -text
www/spring/sorcerer/resource-files/method_private.gif -text
www/spring/sorcerer/resource-files/method_protected.gif -text
www/spring/sorcerer/resource-files/method_public.gif -text
www/spring/sorcerer/resource-files/opentype.gif -text
www/spring/sorcerer/resource-files/outline-filter/alphab_sort_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/fields_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/localtypes_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/public_co.gif -text
www/spring/sorcerer/resource-files/outline-filter/static_co.gif -text
www/spring/sorcerer/resource-files/package.gif -text
www/spring/sorcerer/resource-files/search/file_mode.gif -text
www/spring/sorcerer/resource-files/search/package_mode.gif -text
www/spring/sorcerer/resource-files/search/prj_mode.gif -text
www/spring/sorcerer/resource-files/search/type_mode.gif -text
www/spring/sorcerer/resource-files/tree/ln.gif -text
www/spring/sorcerer/resource-files/tree/loading.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lm.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lmh.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lp.gif -text
www/spring/sorcerer/resource-files/tree/noicon/lph.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tm.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tmh.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tp.gif -text
www/spring/sorcerer/resource-files/tree/noicon/tph.gif -text
www/spring/sorcerer/resource-files/tree/tn.gif -text
www/spring/sorcerer/resource-files/tree/vline.gif -text
www/spring/source-repository.html -text
www/spring/team-list.html -text
